.title-container{
    height: 50px;
}
.system-name{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.camera-view-container{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
}

.image-container{
    width: 100%;
    justify-content: center;
}

.camera-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}