/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.small-card{
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px 10px 0px 0px;
    margin: 10px;
    min-width: 250px;
}

.small-card-header{
    background: rgba(0,0,0,.05);
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}

.card-bar{
    display: flex;
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.color-wrapper{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

.color-secondary-background{
    background-color: #00AB84;
    color: white;
}

.color-primary-background{
    background-color: #deedff;
}

.flex-spacer{
    flex-grow: 1;
}