<form class="register-form">
    <h1 class="container-header-centered">
        Register
    </h1>
    <mat-form-field class="login-form-full-width">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Joe">
    </mat-form-field>
    <mat-form-field class="login-form-full-width">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Smith">
    </mat-form-field>
    <mat-form-field class="login-form-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="jsmithcangetsome">
    </mat-form-field>
    <mat-form-field class="login-form-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="jsmith@gmail.com">
    </mat-form-field>
    <mat-form-field class="login-form-full-width">
        <mat-label>password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <div class="button-container">
        <button mat-button>Register</button>
    </div>
</form>