.system-header{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px auto 100px 100px;
    grid-template-rows: 5% 5% 5%;
    background-color: rgba(0,0,0,.2);
}

.system-header-text-left{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    text-align: center;
}

.system-header-text-right{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: span 2;
    text-align: center;
}

.system-header-title{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 3;
    align-items: center;
    text-align: center;
}

.system-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px auto;
}

.system-nav-sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.1);
}

.system-nav-display{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
}