<div class="system-header">
    <div class="system-header-text-left">
        {{systemObject!.system.address}}
    </div>
    <h1 class="system-header-title">{{systemObject!.system.name}}</h1>
    <div class="system-header-text-right">
        {{systemObject!.system.id}}
    </div>
</div>
<div class="system-body">
    <div class="system-nav-sidebar">
        <a mat-button [matMenuTriggerFor]="cameraSelector">Camera</a>
        <a mat-button [routerLink]="['./sensor']">Sensor</a>
        <a mat-button [routerLink]="['./automation']">Automation</a>
    </div>
    <div class="system-nav-display">
        <router-outlet></router-outlet>
    </div>
</div>

<!--Camera Side Menu-->
<mat-menu #cameraSelector="matMenu">
    <a 
        mat-menu-item
         *ngFor="let camera of systemObject!.cameras.value; let i = index;"
        [routerLink]="['./camera', i]">
        {{camera.camera.name}}
    </a>
</mat-menu>

